<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.dawnsci.rap.application.demoentrypoints"
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            id="org.dawnsci.rap.application.workbench.default"
            path="/workbench"
            class="org.dawnsci.rap.application.DemoWorkbench">
      </entrypoint>
      <entrypoint
            id="org.dawnsci.rap.application.workbench.business"
            path="/business"
            class="org.dawnsci.rap.application.DemoWorkbench"
            brandingId="org.eclipse.rap.design.example.business.branding">
      </entrypoint>
      <entrypoint
            id="org.dawnsci.rap.application.workbench.fancy"
            path="/fancy"
            class="org.dawnsci.rap.application.DemoWorkbench"
            brandingId="org.eclipse.rap.design.example.fancy.branding">
      </entrypoint>
      <entrypoint
            id="org.dawnsci.rap.application.workbench.application"
            path="/app"
            applicationId="org.dawnsci.rap.application.application"
            brandingId="org.dawnsci.rap.application.teaBranding">
      </entrypoint>
   </extension>

   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="body.html"
            favicon="icons/favicon2.ico"
            id="org.dawnsci.rap.application.teaBranding"
            title="It&apos;s tea-time">
      </branding>
   </extension>

   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.dawnsci.rap.application.resources.ImageResource">
      </resource>
      <resource
            class="org.dawnsci.rap.application.resources.ExternalJsResource">
      </resource>
   </extension>

   <extension
         id="org.dawnsci.rap.application.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="org.dawnsci.rap.application.DawnApplication">
         </run>
      </application>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.dawnsci.rap.application.Perspective"
            icon="icons/search.gif"
            id="org.dawnsci.rap.application.perspective"
            name="Demo"/>
      <perspective
            class="org.dawnsci.rap.application.PlanningPerspective"
            icon="icons/contact.gif"
            id="org.dawnsci.rap.application.perspective.planning"
            name="Planning">
      </perspective>
   </extension>

   <extension point="org.eclipse.ui.views">
       <view
             class="org.eclipse.ui.ExtensionFactory:progressView"
             icon= "icons/pview.gif"
             id="org.eclipse.ui.views.ProgressView"
             name="Progress">
       </view>
       <view
             category="one"
             class="org.dawnsci.rap.application.DemoChartViewPart"
             icon="icons/contact.gif"
             id="org.dawnsci.rap.application.DemoChartViewPart"
             name="Chart"/>
       <view
             category="one"
             class="org.dawnsci.rap.application.DemoTreeViewPart"
             icon="icons/info.gif"
             id="org.dawnsci.rap.application.DemoTreeViewPartII"
             name="View II"/>
       <view
             category="one"
             class="org.dawnsci.rap.application.DemoTreeViewPart"
             icon="icons/login.gif"
             id="org.dawnsci.rap.application.DemoTreeViewPart"
             name="Tree"/>
       <view
             category="two"
             class="org.dawnsci.rap.application.DemoFormViewPart"
             icon="icons/register.gif"
             id="org.dawnsci.rap.application.DemoFormViewPart"
             name="Form"/>
       <view
             category="two"
             class="org.dawnsci.rap.application.DemoTableViewPart"
             icon="icons/search.gif"
             id="org.dawnsci.rap.application.DemoTableViewPart"
             name="Table"/>
       <view
             category="two"
             class="org.dawnsci.rap.application.DemoSelectionViewPart"
             icon="icons/status.gif"
             id="org.dawnsci.rap.application.DemoSelectionViewPart"
             name="Selection View"/>
       <view
             allowMultiple="true"
             category="two"
             class="org.dawnsci.rap.application.DemoBrowserViewPart"
             icon="icons/internal_browser.gif"
             id="org.dawnsci.rap.application.DemoBrowserViewPart"
             name="Browser"/>
       <category
             id="one"
             name="Category 1"/>
       <category
             id="two"
             name="Category 2"/>
   </extension>

   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.dawnsci.rap.application.viewContribution2"
            targetID="org.dawnsci.rap.application.DemoTreeViewPart">
         <action
               class="org.dawnsci.rap.application.DemoTreeViewActionDelegate"
               enablesFor="*"
               icon="icons/ttt.gif"
               id="org.dawnsci.rap.application.filterAction"
               label="Filter all leafs"
               state="false"
               style="toggle"
               toolbarPath="filter"
               tooltip="Filter all leafs">
         </action>
      </viewContribution>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.dawnsci.rap.application.actionSet"
            label="Sample Action Set"
            visible="false">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               class="org.dawnsci.rap.application.actions.SampleAction"
               icon="icons/sample.gif"
               id="org.dawnsci.rap.application.actions.SampleAction"
               label="&amp;Sample Action"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Hello, Eclipse world">
         </action>
         <action
               class="org.dawnsci.rap.application.actions.JobAction"
               icon="icons/pview.gif"
               id="org.dawnsci.rap.application.actions.JobAction"
               label="&amp;Start Job"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Start Job">
         </action>
         <action
               class="org.dawnsci.rap.application.actions.JobActionWithDialog"
               icon="icons/progress_ok.gif"
               id="org.dawnsci.rap.application.actions.JobActionWithDialog"
               label="&amp;Start Job with Dialog"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               tooltip="Start Job with Dialog">
         </action>
      </actionSet>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.dawnsci.rap.application.perspective.planning">
         <actionSet
               id="org.dawnsci.rap.application.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.dawnsci.rap.application.editor.FooEditor"
            contributorClass="org.dawnsci.rap.application.editor.FooEditorContributor"
            extensions="*"
            icon="icons/status.gif"
            id="org.dawnsci.rap.application.editor"
            name="Foo Editor">
      </editor>
   </extension>

   <extension
       point="org.eclipse.ui.decorators">
     <decorator
         icon="icons/error-decorator.png"
         id="org.dawnsci.rap.application.decorator"
         label="Demo Decorator"
         lightweight="true"
         location="TOP_RIGHT"
         state="true">
        <enablement>
           <objectClass
                 name="org.dawnsci.rap.application.DemoTreeViewPart$BrokenTreeObject">
           </objectClass>
        </enablement>
     </decorator>
   </extension>

   <extension
         point="org.eclipse.ui.presentationFactories">
      <factory
            class="org.dawnsci.rap.application.presentation.PresentationFactory"
            id="org.dawnsci.rap.application.presentation"
            name="demoPresentation">
      </factory>
   </extension>

   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            name="Demo Export Category"
            id="org.dawnsci.rap.applicationcategory">
      </category>
      <category
            name="Demo Export Category I"
            id="org.dawnsci.rap.applicationcategoryI">
      </category>
      <wizard
            name="Demo Export"
            icon="icons/sample.gif"
            category="org.dawnsci.rap.applicationcategory"
            class="org.dawnsci.rap.application.wizard.DemoExport"
            id="org.dawnsci.rap.application.export">
         <description>
            This is an example for a export wizard.
         </description>
      </wizard>
      <wizard
            name="Demo Export"
            icon="icons/sample.gif"
            category="org.dawnsci.rap.applicationcategoryI"
            class="org.dawnsci.rap.application.wizard.DemoExport"
            id="org.dawnsci.rap.application.exportI">
         <description>
            This is an example for a export wizard.
         </description>
      </wizard>
   </extension>

   <extension
        point="org.eclipse.ui.importWizards">
      <category
            name="Demo Import Category"
            id="org.dawnsci.rap.applicationcategory">
      </category>
      <category
            name="Demo Import Category I"
            id="org.dawnsci.rap.applicationcategoryI">
      </category>
      <wizard
            name="Demo Import"
            icon="icons/sample.gif"
            id="org.dawnsci.rap.application.import"
            category="org.dawnsci.rap.applicationcategory"
            class="org.dawnsci.rap.application.wizard.DemoImport">
         <description>
            This is an example for a import wizard.
         </description>
      </wizard>
      <wizard
            name="Demo Import"
            icon="icons/sample.gif"
            id="org.dawnsci.rap.application.importI"
            category="org.dawnsci.rap.applicationcategoryI"
            class="org.dawnsci.rap.application.wizard.DemoImport">
         <description>
            This is an example for a import wizard.
         </description>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.preferencePages">
      <page
            id="org.eclipse.ui.demo.PreferencePage"
            name="Demo Preference Page"
            class="org.dawnsci.rap.application.presentation.DemoPreferencePage">
         <keywordReference id="org.eclipse.ui.demo.preferenceKeywords"/>
      </page>
   </extension>

</plugin>
